<mat-toolbar style="background-color: #e42525; color: #FFFF">
  <span>TLH Covid Tracker</span>
 <!--<span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>--> 
  

</mat-toolbar>

<nav>
    <a id="olink" routerLink="/orderlist" routerLinkActive="active" style="background-color: #686469;">Data List Set 1</a>
    &nbsp;&nbsp;
    <a id="alink" routerLink="/assetslist" routerLinkActive="active" style="background-color: #b8b0b0;">Data List Set 2</a>
  </nav>
  &nbsp;
<router-outlet></router-outlet>

<div class="footer">
    &nbsp;&nbsp;<p>Created by Raghav Serma, Evan Foglia, and Adrian Balbuena.</p>
  </div>