<mat-toolbar style="color: rgb(117, 114, 114);background-color: #f9fafa8f;border-radius: 10px;height: 45px;">
    <span>Data List</span>
   <!--<span class="spacer"></span>
    Reload data:
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>--> 
    
  
  </mat-toolbar>

<div class="container mat-elevation-z8">

    <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter Data">
        </mat-form-field>
    </div>
    <div>
            &nbsp;&nbsp;<span class="blinking"><b style="font-size: 20px;">&nbsp;Download Data: </b></span>
            &nbsp;&nbsp;<button mat-raised-button color="primary"
                (click)="exporter.exportTable('xlsx',{fileName: 'assets'})">Excel</button>
            &nbsp;&nbsp;<button mat-raised-button color="warn"
                (click)="exporter.exportTable('csv',{fileName: 'assets'})">CSV</button>
            &nbsp;&nbsp;<button mat-raised-button color="accent"
                (click)="exporter.exportTable('json',{fileName: 'assets'})">Json</button>
            &nbsp;&nbsp;<button mat-raised-button color="basic"        
                (click)="exporter.exportTable('txt',{fileName: 'assets'})">Text</button>
    </div>
    <mat-table matTableExporter #table [dataSource]="dataSource" matSort class="mat-cell" #exporter="matTableExporter">
        ng update @angular/cli @angular/core
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
                <th><mat-header-cell *matHeaderCellDef mat-sort-header>Positive/ Negative Status</mat-header-cell></th>
                <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
              </ng-container>

        <ng-container matColumnDef="compressorid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Known symptoms</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.compressorid}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gatewayid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Have you had known exposure</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.gatewayid}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="chillerid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Travel in past 2 weeks</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.chillerid}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phonenumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>pre-existing conditions</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phonenumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="simiccid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>is this your first time contracting covid</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.simiccid}}</mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="primary" (click)="addNew()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>Add
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-raised-button color="warn" (click)="startEdit(i, row.id,row.compressorid, row.gatewayid, row.chillerid, row.phonenumber, row.simiccid)">
                    <mat-icon aria-label="Edit">edit</mat-icon>Edit
                </button>

                &nbsp;&nbsp;<button mat-raised-button color="accent"
                    (click)="deleteItem(i, row.id,row.compressorid, row.gatewayid, row.chillerid, row.phonenumber, row.simiccid)">
                    <mat-icon aria-label="Delete">delete</mat-icon>Delete
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No results
    </div>

    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[2, 5, 10, 25, 100]">
    </mat-paginator>
</div>