<br><br><br><br><br><br><br><br>

<div class = "card-deck">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">How do I prevent myself from getting COVID-19?</h5>
          <p class="card-text">There's currently no cure or vaccine for the COVID-19. The best possible way to prevent yourself from contracting the
              virus is to avoid gatherings of larger than 10 people and wearing a mask at all times while indoor. 
          </p>
          <a href="#" class="card-link">Learn More</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">What are the symptoms of COVID-19?</h5>
          <p class="card-text">The most common COVID-19 symptoms are fevers or chills, cough, shortness of breath, and fatigue.</p>
          <a href="#" class="card-link">Learn More</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">I think I have COVID-19, what should I do?</h5>
          <p class="card-text">There's currently no antiviral available for COVID-19, so we recommend you self quarantine for 
              2 weeks in your home.
          </p>
          <a href="#" class="card-link">Learn More</a>
        </div>
      </div>
</div>