<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <span class="mytitle">Our Logo/Title</span>
        </div>
        <div class="col-6"></div>
        <div class="col-2">
            <section>
                <div class="example-button-row">
                    <button mat-stroked-button color="warn" routerLink="/login" routerLinkActive="active" style="margin-right: 30px;"> Log In </button>
                    <button mat-stroked-button color="warn" routerLink="/signup" routerLinkActive="active"> Sign Up</button>
                </div>
            </section>
        </div>
    </div>
</div>

